html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-image: url('../assets/wp.jpg');
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  position: relative; 
}

.bottom-text {
  text-align: center;
  margin-top: -18px;
  position: absolute; 
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .app-container {
    padding: 10px;
  }

  .bottom-text {
    font-size: 14px;
  }
}

