* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('../assets/wp.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.bottom-text {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .app-container {
    padding: 10px;
  }

  .bottom-text {
    font-size: 14px;
  }
}

.source-text {
  font-weight: 900;
  text-decoration: underline;
}