.window-content-p {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.result-window-p {
  margin: 10px 0;
}

.result-window-p-info {
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

@media (max-width: 768px) {
  .window-content-p {
    font-size: 14px;
  }

  .result-window-p {
    font-size: 14px;
  }

  .result-window-p-info {
    font-size: 10px;
  }
}